<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="img/Fondo3.png" alt="AdminLTELogo" height="400" width="480">
        </div>
        <!-- Contenido Content Wrapper. titulo  -->
        <div class="content-wrapper">
            <div class="content-header">
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h3 class="card-title">PERSONAL</h3>
                                        <a href="/add_agentes" type="submit" class="btn  bg-primary float-right"><i
                                                class="nav-icon fas fa-plus"></i> AGREGAR</a>
                                    </div>

                                    <!-- /.card-header -->
                                    <div class="card-body">
                                        <table id="example1" class="table table-bordered table-striped projects">
                                            <thead>
                                                <tr>
                                                    <th style="width: 5%">Imagen</th>
                                                    <th>Grado</th>
                                                    <th>Nip</th>
                                                    <th>Nombres</th>
                                                    <th>Apellidos</th>
                                                    <th>Estado</th>
                                                    <th>Genero</th>
                                                    <th>Telefono</th>
                                                    <th>Correo</th>
                                                    <th>Dirección</th>
                                                    <th>Estado Civil</th>
                                                    <th>Fecha de registro</th>
                                                    <th>Opciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {{#each usuarios}}
                                                <tr>
                                                    <td>
                                                        <ul class="list-inline text-center">
                                                            <li class="list-inline-item">
                                                                <img class="table-avatar" src="{{perfil}}">
                                                            </li>
                                                    </td>
                                                    <td>{{grado}}</td>
                                                    <td>{{nip}}</td>
                                                    <td>{{nombres}}</td>
                                                    <td>{{apellidos}} </td>
                                                    <td>{{estado}}</td>
                                                    <td>{{genero}}</td>
                                                    <td>{{telefono}}</td>
                                                    <td>{{correo}}</td>
                                                    <td>{{direccion}}</td>
                                                    <td>{{estado_civil}}</td>
                                                    <td>{{formatDate fecha_registro}}</td>
                                                    <td class="text-center py-0 align-middle">
                                                        <div class="btn-group btn-group-sm">
                                                            <abbr title="Editar Datos del Agente">
                                                                <a href="/edit_agente?id={{id_agente}}"
                                                                    id="{{id_agente}}" class="btn btn-info"><i
                                                                        class="fas fa-edit"></i></a>
                                                            </abbr>
                                                            <abbr title="Desactivar Usuario Agente">
                                                                <a onclick="estado_inactivo({{id_agente}})"
                                                                    type="submit" id="{{id_agente}}"
                                                                    class="btn btn-danger"><i
                                                                        class="fas fa-user-alt-slash"></i></a>
                                                            </abbr>
                                                            <abbr title="Activar Usuario Agente">
                                                                <a onclick="estado_activo({{id_agente}})"
                                                                    id="{{id_agente}}" type="submit"
                                                                    class="btn btn-primary"><i
                                                                        class="fas fa-user-alt"></i></a>
                                                            </abbr>
                                                            <abbr title="Ingresar Arma del Agente">
                                                                <a href="/ingreso_agente?id={{id_agente}}"
                                                                    id="{{id_agente}}" class="btn btn-success"><i
                                                                        class="fas fa-arrow-circle-right"></i></a>
                                                            </abbr>
                                                            <abbr title="Egresar Arma del Agente">
                                                                <a href="/egreso_agente?id={{id_agente}}"
                                                                    id="{{id_agente}}" class="btn btn-danger"><i
                                                                        class="fas fa-arrow-circle-right"></i></a>
                                                            </abbr>

                                                        </div>
                                                    </td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.card-body -->
                                </div>
                                <!-- /.card -->
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </section>
            </div>
        </div>
        <footer class="main-footer">
            <strong>Policía Nacional Civil | Copyright &copy; 2022 </strong>
        </footer>
        <aside class="control-sidebar control-sidebar-dark"></aside>
    </div>
    <script>
        function estado_activo(id) {
            Swal.fire({
                title: 'Esta Seguro de Activar el Usuario?',
                icon: 'warning',
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger',
                confirmButtonText: 'Activar',
                cancelButtonText: 'Cancelar',
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Agente Activado Correctamente',
                        showConfirmButton: false,
                        timer: 1500
                    }).then((result) => {
                        window.location = '/estado_activo_agente?id=' + id
                    })
                }
            })
        }

        function estado_inactivo(id) {
            Swal.fire({
                title: 'Esta Seguro de Dar de Baja al Agente?',
                icon: 'warning',
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButton: 'btn btn-success',
                cancelButton: 'btn btn-danger',
                confirmButtonText: 'Desactivar',
                cancelButtonText: 'Cancelar',
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Agente Desactivado Correctamente',
                        showConfirmButton: false,
                        timer: 1500
                    }).then((result) => {
                        window.location = '/estado_inactivo_agente?id=' + id
                    })
                }
            })
        }
    </script
    <script>
        function sendId(id) {
            fetch('/edit_agente?' + new URLSearchParams({
                id: id
            }), {
                method: 'GET',
            })
        };
         function sendId(id) {
            fetch('/ingreso_agente?' + new URLSearchParams({
                id: id
            }), {
                method: 'GET',
            })
        };
         function sendId(id) {
            fetch('/egreso_agente?' + new URLSearchParams({
                id: id
            }), {
                method: 'GET',
            })
        };
    </script>
</body>